<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/d023280/Documents/workspace/brainbox/tutorial_raw/SunFounder-V/title.png</key>
	<data>
	Ym9va2gDAAAAAAQQMAAAAJUZ+ws/KF8tlOTv9zIMYKZyB4rC5cBBa/i/YfIlQpEqZAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGQwMjMyODAACQAAAAEB
	AABEb2N1bWVudHMAAAAJAAAAAQEAAHdvcmtzcGFjZQAAAAgAAAABAQAAYnJhaW5ib3gM
	AAAAAQEAAHR1dG9yaWFsX3JhdwwAAAABAQAAU3VuRm91bmRlci1WCQAAAAEBAAB0aXRs
	ZS5wbmcAAAAgAAAAAQYAABAAAAAgAAAAMAAAAEQAAABYAAAAaAAAAHwAAACQAAAACAAA
	AAQDAABwqAoAAAAAAAgAAAAEAwAA58MQAAAAAAAIAAAABAMAAPTDEAAAAAAACAAAAAQD
	AAB3GCgAAAAAAAgAAAAEAwAAMxsoAAAAAAAIAAAABAMAAP7jxQIAAAAACAAAAAQDAAAD
	5MUCAAAAAAgAAAAEAwAA81vGAgAAAAAgAAAAAQYAAMwAAADcAAAA7AAAAPwAAAAMAQAA
	HAEAACwBAAA8AQAACAAAAAAEAABBwkYhFSHowBgAAAABAgAAAQAAAAAAAAAPAAAAAAAA
	AAAAAAAAAAAACAAAAAQDAAAGAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTov
	Ly8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAHDE2NEBAAAIAAAAAAQAAEHCCS84
	a4qbJAAAAAEBAABGM0NENUM5MC01MTZDLTQxMjktQjdCRi01NEZDRTFFOTcwQkUYAAAA
	AQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAA
	AP7///8BAAAAAAAAABAAAAAEEAAApAAAAAAAAAAFEAAATAEAAAAAAAAQEAAAhAEAAAAA
	AABAEAAAdAEAAAAAAAACIAAAUAIAAAAAAAAFIAAAwAEAAAAAAAAQIAAA0AEAAAAAAAAR
	IAAABAIAAAAAAAASIAAA5AEAAAAAAAATIAAA9AEAAAAAAAAgIAAAMAIAAAAAAAAwIAAA
	XAIAAAAAAAABwAAApAEAAAAAAAARwAAAIAAAAAAAAAASwAAAtAEAAAAAAAAQ0AAABAAA
	AAAAAAA=
	</data>
	<key>/Users/d023280/Documents/workspace/brainbox/tutorial_raw/SunFounder-V/title2.png</key>
	<data>
	Ym9va2gDAAAAAAQQMAAAABEi9UgTnPbznlb6CfzjTH55ukXB0WCm0V3kBbesiZjWZAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGQwMjMyODAACQAAAAEB
	AABEb2N1bWVudHMAAAAJAAAAAQEAAHdvcmtzcGFjZQAAAAgAAAABAQAAYnJhaW5ib3gM
	AAAAAQEAAHR1dG9yaWFsX3JhdwwAAAABAQAAU3VuRm91bmRlci1WCgAAAAEBAAB0aXRs
	ZTIucG5nAAAgAAAAAQYAABAAAAAgAAAAMAAAAEQAAABYAAAAaAAAAHwAAACQAAAACAAA
	AAQDAABwqAoAAAAAAAgAAAAEAwAA58MQAAAAAAAIAAAABAMAAPTDEAAAAAAACAAAAAQD
	AAB3GCgAAAAAAAgAAAAEAwAAMxsoAAAAAAAIAAAABAMAAP7jxQIAAAAACAAAAAQDAAAD
	5MUCAAAAAAgAAAAEAwAA81vGAgAAAAAgAAAAAQYAAMwAAADcAAAA7AAAAPwAAAAMAQAA
	HAEAACwBAAA8AQAACAAAAAAEAABBwkYhFSHowBgAAAABAgAAAQAAAAAAAAAPAAAAAAAA
	AAAAAAAAAAAACAAAAAQDAAAGAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTov
	Ly8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAHDE2NEBAAAIAAAAAAQAAEHCCS84
	a4qbJAAAAAEBAABGM0NENUM5MC01MTZDLTQxMjktQjdCRi01NEZDRTFFOTcwQkUYAAAA
	AQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAA
	AP7///8BAAAAAAAAABAAAAAEEAAApAAAAAAAAAAFEAAATAEAAAAAAAAQEAAAhAEAAAAA
	AABAEAAAdAEAAAAAAAACIAAAUAIAAAAAAAAFIAAAwAEAAAAAAAAQIAAA0AEAAAAAAAAR
	IAAABAIAAAAAAAASIAAA5AEAAAAAAAATIAAA9AEAAAAAAAAgIAAAMAIAAAAAAAAwIAAA
	XAIAAAAAAAABwAAApAEAAAAAAAARwAAAIAAAAAAAAAASwAAAtAEAAAAAAAAQ0AAABAAA
	AAAAAAA=
	</data>
</dict>
</plist>
