.palette_container {
  border: 0;
  background-color: @layerPaneBgColor;
  text-align: center;
  box-shadow: 5px 0 20px -3px rgba(31, 73, 125, 0.3);
  z-index: 1;
  box-shadow: 5px 0 20px -3px rgba(31, 73, 125, 0.3), -6px 0 20px -4px rgba(31, 73, 125, 0.3);
  border-right: 1px solid rgba(74, 74, 74, 0.5);
  border-left: 1px solid rgba(74, 74, 74, 0.5);

  .palette_title {
    img {
      padding-right:20px;
      position: absolute;
      left:10px;
      top:10px;
      height:40px;
    }
    div{
      position: absolute;
      left:60px;
      top:10px;
      h1{
        font-size: 15px;
        font-weight:200;
        line-height: 25px;
        margin:0;
        padding:0;
        text-align: left;
        letter-spacing: 3.5px;
      }
      h2{
        font-size: 10px;
        font-weight:600;
        margin:0;
        padding:0;
        text-align: left;
        letter-spacing: 4px;
        color: @tintColor;
      }
    }
  }

  .palette_header{
    position: absolute;
    left:0px;
    top:90px;
  }

  .palette_elements {
    border: 0;
    overflow: auto;
  }
}
